<tr class="<%= cycle "odd", "even" -%>">
  <%= fields_for product do |fields| %>
    <td>  
      <%= fields.text_field :handle %>
    </td>
    <td>  
      <%= fields.text_field :title %>
    </td>
    <td>
      <%= fields.text_field :body %>
    </td>
    <td>
      <%= fields.text_field :tags %>
    </td>
    <td>
      <%= product.collection.name %>
      <%= fields.hidden_field :collection_id %>
    </td>
    <td>
      <%= product.brand.name %>
      <%= fields.hidden_field :brand_id %>
    </td>
  <% end %>
</td>