<div>Select csv file to upload or paste csv text below</div>

<% if @imported_file %>
  <% products = parse_csv @imported_file %>

  <% products.each do |product| %>
    <%= product %><br>
    <%= product.each_key do |k| %>
      KEY: <% k %> <br>
    <% end %>
  <% end %>
  
<% else %>

  <%= form_for @import, :html => {:multipart => true} do |f| %>
    <%= f.file_field :csv_file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>