Company: <%= @company.name %>

<%= form_for @company, :html => { :multipart => true } do |f| %>
  <div>Select csv file to upload or paste csv text below</div>
  Products: <%= f.file_field :product_file %>
  Stock: <%= f.file_field :stock_file %>
  <%= submit_tag "Update products or stock" %>
<% end %>
