Company: <%= @company.name %>

<%= form_for [@company, @import], :html => { :multipart => true } do |f| %>

  <% if @import.products.empty? %>
    <div>Select csv file to upload or paste csv text below</div>
    <%= f.file_field :csv_file %>
  <% else %>
    <%= f.hidden_field :items %>
    <%= render :partial => "product_table", :locals => { :products => @import.products } %>
    <%= render :partial => "variant_table", :locals => { :variants => @import.variants } %>
  <% end %>
  <%= submit_tag "Import" %>
<% end %>
