<div>Select csv file to upload or paste csv text below</div>

<% if @imported_file %>
  <% products, variants = parse_csv @imported_file %>

  <% products.each do |product| %>
    
    <%= product["handle"] %><br>


  <% end %>

  <br>

  <% variants.each do |variant| %>
    <%= variant["handle"] %><br>
  <% end %>
  
<% else %>

  <%= form_for @import, :html => {:multipart => true} do |f| %>
    <%= f.file_field :csv_file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>