<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @order.company_id %>
</p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>Description:</b>
  <%= @order.description %>
</p>

<p>
  <b>Kind:</b>
  <%= @order.kind %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
