<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brand.name %>
</p>

<% for product in @brand.products %>
  <%= link_to product.name, edit_product_path(product) %><br>
<% end %>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
