<h1>Listing products</h1>

<table>
  <tr>
    <th>Handle</th>
    <th>Title</th>
    <th>Name</th>
    <th>Body</th>
    <th>Code</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.handle %></td>
    <td><%= product.title %></td>
    <td><%= product.name %></td>
    <td><%= product.body %></td>
    <td><%= product.code %></td>
    <td><%= product.tags %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
