<!DOCTYPE html>
<html manifest="/cache.manifest">
  <title>Icify</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
  <%= stylesheet_link_tag 'application.js' %>
  <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
  <%= javascript_include_tag 'application.js' %>
  <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <% if notice %><p id="notice"><%= notice %></p><% end %>
  <% if alert %><p id="alert"><%= alert %></p><% end %>

  <%= yield %>

</body>
</html>
